main.entry {
	max-width: calc(var(--main-max-width) * 3 / 2);
}

main.entry > article > header::after {
	content: "";
	display: block;
	max-width: var(--main-max-width);
	border-bottom: 2px dotted var(--themeColor);
	padding-top: var(--s0);
	margin-bottom: var(--s2);
}

.wm-properties .wm-property {
	text-transform: lowercase;
}

.wm-properties .wm-property:first-of-type {
	text-transform: unset;
}

.wm-properties .wm-property + .wm-property::before {
	content: ", ";
}

.wm-properties .wm-property + .wm-property:last-of-type::before {
	content: " e ";
}

main.entry .embed-container {
	position: relative;
	padding-bottom: 57.25%;
	height: 0;
	overflow: hidden;
}

main.entry .embed-container > iframe,
main.entry .embed-container > object,
main.entry .embed-container > embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

main.entry > article > header > .metadata,
main.entry .e-content > p,
main.entry .e-content > ul,
main.entry .e-content > ol,
main.entry .e-content > aside,
main.entry .e-content > figure,
main.entry .e-content > p > img,
main.entry .e-content > p > video,
main.entry .e-content > img,
main.entry .e-content > video,
main.entry .e-content > blockquote,
main.entry .e-content > pre,
main.entry .e-content > iframe,
main.entry .e-content > .embed-container {
	max-width: var(--main-max-width);
}

main.entry article > hr {
	max-width: var(--main-max-width);
	border: 0;
	border-bottom: 2px dotted var(--themeColor);
	margin-right: auto;
	margin-left: unset;
	margin-top: var(--s1);
	margin-bottom: var(--s1);
}

main.entry figure {
	display: flex;
	flex-direction: column;
}

main.entry figure > img,
main.entry figure > video,
main.entry figure > picture {
	width: 100%;
}

main.entry .footnote-item:target p {
	outline: 1px dotted;
}

main.entry h1,
main.entry h2,
main.entry h3,
main.entry h4,
main.entry h5,
main.entry h6 {
	position: relative;
}

main.entry .header-anchor {
	position: absolute;
	left: 0;
	transform: translateX(-100%);
	padding-right: var(--s-2);
	opacity: 0.5;
}

main.entry .webmentions .comment > ul > li + li {
	margin-top: var(--s3);
}

main.entry .webmentions .comment article {
	display: grid;
	grid-template-areas: "photo title" "photo date" "photo link" "photo content";
	grid-template-columns: min-content auto;
}

main.entry .webmentions .comment article header {
	display: contents;
}

main.entry .webmentions .comment article header img {
	grid-area: photo;
	width: var(--s2);
	height: var(--s2);
}

main.entry .webmentions .comment article header .name {
	grid-area: title;
}

main.entry .webmentions .comment article header time {
	grid-area: date;
}

main.entry .webmentions .comment article header a {
	grid-area: link;
}

main.entry .webmentions .comment article p {
	grid-area: content;
	margin-top: var(--s2);
}

main.entry .webmentions details > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

main.entry .webmentions .author-photos li {
	display: inline-flex;
	justify-content: stretch;
	align-items: stretch;
}

main.entry .webmentions .author-photos li + li {
	margin-left: calc(-1 * var(--s-1));
	transition: margin-left 0.5s ease;
}

main.entry .webmentions .author-photos:hover li + li {
	margin-left: 0;
}

main.entry .webmentions .author-photos li,
main.entry .webmentions .author-photos a,
main.entry .webmentions .author-photos article,
main.entry .webmentions .author-photos img {
	width: var(--s2);
	height: var(--s2);
	border-radius: 50%;
}

main.entry .webmentions .author-photos img {
	object-fit: cover;
	object-position: center;
}

@media (min-width: 1350px) {
	main.entry .toc {
		--entry-float-margin: 20px;

		width: calc(33% - var(--entry-float-margin));
		min-width: 100px;

		margin: 0;
		margin-left: var(--entry-float-margin);

		float: right;
		clear: right;

		position: sticky;
		top: var(--root-padding);
	}
}

@media (min-width: 600px) {
	main.entry .float {
		--entry-float-margin: 20px;

		width: calc(33% - var(--entry-float-margin));
		min-width: 100px;

		margin: 0;
		margin-left: var(--entry-float-margin);

		float: right;
		clear: right;
	}

	main.entry .float.left {
		margin-right: var(--entry-float-margin);
		margin-left: 0;

		float: left;
		clear: left;
	}
}
