@font-face {
	font-family: system;
	font-style: normal;
	font-weight: 300;
	src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"),
		local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"),
		local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	--root-padding: 32px;
	--root-border-width: var(--s-1);
	--sidebar-width: 220px;
	--max-width-mobile: calc(100vw - 2 * var(--root-border-width) - 2 * var(--root-padding));
	--max-width-desktop: calc(var(--max-width-mobile) - var(--sidebar-width));
}

body[data-theme="auto"] {
	--textColor: rgb(42, 42, 42);
	--backgroundColor: rgb(237, 237, 237);
	--themeColor: hsla(125, 51%, 32%, 1);
}

@media (prefers-color-scheme: dark) {
	body[data-theme="auto"] {
		--textColor: rgb(237, 237, 237);
		--backgroundColor: rgb(42, 42, 42);
		--themeColor: rgb(92, 194, 101);
	}
}

body[data-theme="dark"] {
	--textColor: rgb(237, 237, 237);
	--backgroundColor: rgb(42, 42, 42);
	--themeColor: rgb(92, 194, 101);
}

body[data-theme="light"] {
	--textColor: rgb(42, 42, 42);
	--backgroundColor: rgb(237, 237, 237);
	--themeColor: hsla(125, 51%, 32%, 1);
}

body,
html {
	margin: 0;
	min-height: 100vh;
	max-width: 100vw;
	position: relative;

	background-color: var(--backgroundColor);
	color: var(--textColor);

	font-size: 100%;
	line-height: var(--ratio);
	font-family: system;

	hyphens: auto;
	word-break: break-all;
	word-break: break-word;
}

body {
	border: var(--root-border-width) solid var(--themeColor);
}

a,
h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--themeColor);
}

a:any-link {
	color: var(--themeColor);
}

button,
.button {
	border: 1px solid var(--themeColor);
	padding: var(--s-2);
	color: var(--themeColor);
	background-color: var(--backgroundColor);
	line-height: 1;
	text-align: center;
}

body {
	padding: var(--root-padding);
}

h1 {
	margin-top: 0;
	line-height: 1.15;
	font-size: 2rem;
}

.metadata > * + *::before {
	content: " – ";
}

body > .sidebar {
	--sidebar-gap: var(--root-padding) * 2;
}

blockquote {
	margin-left: 0;
	margin-right: var(--s1);
	margin-top: 0;
	padding-bottom: 0;
	padding-left: var(--s0);
	padding-right: 0;
	padding-top: 0;
	margin-bottom: var(--s1);
	font-size: inherit;
	line-height: var(--s1);
	border-left: var(--s-3) solid var(--themeColor);
}

main {
	--main-max-width: 70ch;
	max-width: var(--main-max-width);
}

p {
	text-align: justify;
}

body {
	display: grid;
	grid-template-columns: min-content auto;
	grid-gap: calc(2 * var(--root-padding));
}

.skip-nav {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	position: absolute;
}

.skip-nav:focus {
	padding: 1rem;
	position: fixed;
	top: var(--root-border-width);
	left: var(--root-border-width);
	z-index: 1;
	width: auto;
	height: auto;
	clip: auto;

	background-color: var(--themeColor);
	color: var(--backgroundColor);
	opacity: 1;
}

ul,
ol {
	padding-left: var(--s0);
}

@media (max-width: 800px) {
	body {
		grid-template-columns: 1fr;
		grid-template-rows: min-content auto;
		grid-gap: var(--root-padding);

		font-size: 90%;
	}

	main {
		--main-max-width: calc(100vw - 2 * (var(--root-padding) + var(--root-border-width)));
	}
}
