{% from 'macros/authors.njk' import listAuthors %}

<article>
    <header>
        <h1 class="post-title p-name" itemprop="headline title">
            <a class="u-url u-uid" href="{{ page.url }}">{{ title }}</a>
        </h1>
        {% if description %}
            <p itemprop="alternativeHeadline">{{ description }}</p>
        {% endif %}
        <div class="metadata" data-separator="—">
            <span>
                {% block category %}
                    <span class="p-category">{{ collection }}</span> por {{ listAuthors(authors if authors else [me]) }}
                {% endblock %}
            </span>
            <span>
                Publicado em
                <time class="dt-published" itemprop="datePublished pubdate" datetime="{{ date | formatDateISO }}">
                    {{ date | formatDate }}
                </time>
            </span>
            <span>{{ content | wordcount }} palavras, <abbr aria-label="aproximadamente" title="aproximadamente">~</abbr>
                <span itemprop="timeRequired">{{ content | readingTime(raw=true) }} minutos</span> de leitura</span>
            {% block metadata %}{% endblock %}
        </div>
        {% block header %}{% endblock %}
    </header>

    <section class="e-content">
        {% block body_start %}{% endblock %}
        {{ content | safe }}
        {% block body_end %}{% endblock %}
    </section>

    {% if webmentions[page.url].all | length > 0 %}
        <hr/>
        <section class="webmentions">
            {% import 'macros/webmentions.njk' as wms %}

            {{ wms.authorPhotos(webmentions, page.url, "like-of", "curtida", "curtidas", authorUrl = true) }}
            {{ wms.authorPhotos(webmentions, page.url, "bookmark-of", "favoritaram", "favoritou", authorUrl = true) }}
            {{ wms.authorPhotos(webmentions, page.url, "repost-of", "repostagem", "repostagens") }}
            {{ wms.comment(webmentions, page.url, "mention-of", "menção", "menções") }}
            {{ wms.comment(webmentions, page.url, "in-reply-to", "resposta", "respostas", open = true) }}
        </section>
    {% endif %}
</article>

<link rel="stylesheet" href="/css/entry.css"/>

<link rel="stylesheet" href="/css/prism.css"/>