---
layout: default
collection: all
mdEntryType: blogPost
mainClass: collection
htmlClass: h-feed
sitemapChangefreq: daily
sitemapPriority: 1
pagination:
    data: collections.all
    alias: entries
    size: 5
---

{% from 'macros/authors.njk' import listAuthors %}

{{ content | safe }}

<link rel="stylesheet" href="/css/collection.css"/>

<h1 class="p-name">
    <a class="u-url" href="{{ page.url }}">{{ collectionName }}</a>
</h1>

<ol aria-label="{{ collectionName }}">
    {%- for entry in entries -%}
        <li>
            <article
                itemprop="{{ mdEntryType }}"
                itemscope=""
                itemref="mdata-author"
                itemtype="https://schema.org/BlogPosting"
                class="h-entry p-entry"
            >
                <header>
                    <h2 itemprop="headline title" class="post-title p-name">
                        <a class="u-url u-uid" href="{{entry.url}}">{{ entry.data.title }}</a>
                    </h2>
                    <div class="metadata">
                        <span><span class="p-category">{{ entry.data.collection }}</span>
                            <span class="visually-hidden"> por {{ listAuthors(authors if authors else [me]) }}</span></span>
                        <time
                            itemprop="datePublished dateModified pubdate"
                            class="dt-published"
                            datetime="{{ entry.data.date | formatDateISO }}"
                        >
                            {{ entry.data.date | formatDate }}
                        </time>
                        <span><span itemprop="wordCount">{{ entry.templateContent | wordcount }}</span> palavras, <abbr aria-label="aproximadamente" title="aproximadamente">~</abbr>
                            <span itemprop="timeRequired">{{ entry | readingTime(raw=true) }} minutos</span> de leitura</span>
                    </div>
                    {# {% if entry.data.customTags %}
                        <ul itemprop="keywords" aria-label="Tags">
                            {% for tag in entry.data.customTags %}
                                <li>
                                    <a rel="tag" href="/tags/{{ tag | slug }}">{{ tag }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %} #}
                </header>
            </article>
        </li>
    {%- endfor -%}
</ol>

<nav class="pagination" aria-label="Paginação de {{collectionName}}">
    {% if pagination.pageNumber != 0 %}
        <a class="prev" rel="prev" href="{{ pagination.previousPageHref }}">
            ‹ Itens anteriores
        </a>
    {% endif %}
    {% if pagination.pageNumber != pagination.hrefs.length - 1 %}
        <a class="next" rel="next" href="{{ pagination.nextPageHref }}">
            Próximos itens ›
        </a>
    {% endif %}
</nav>