---
---

<!doctype html>
<html lang="pt-br" class="{{ htmlClass }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

        <link rel="stylesheet" href="/css/layout.css"/>
        <link rel="stylesheet" href="/css/utility.css"/>
        <link rel="stylesheet" href="/css/cssremedy.css"/>

        <title class="{{ titleClass }}">
            {% if title %}{{title}} – {% endif %}Victor Magalhães
        </title>

        <link rel="manifest" href="/manifest.webmanifest"/>
        <meta name="theme-color" content="{{ site.themeColor }}"/>

        <link rel="webmention" href="{{ site.webmentionUrl }}"/>
        <link rel="pingback" href="{{ site.pingbackUrl }}"/>
        <link rel="canonical" href="{{ site.canonicalUrl }}"/>
        <link rel="authorization_endpoint" href="{{ site.indieAuthUrl }}">
        <link rel="token_endpoint" href="{{ site.indieAuthTokenUrl }}">

        <meta name="description" content="{{ site.description }}"/>
        <meta name="google-site-verification" content="RHQh7j4JKTIEmRsQrcOD1Pk7OoLoW8VK9YG4LscV7d0"/>

        <link rel="apple-touch-icon" sizes="48x48" href="/icons/icon-48x48.png"/>
        <link rel="apple-touch-icon" sizes="72x72" href="/icons/icon-72x72.png"/>
        <link rel="apple-touch-icon" sizes="96x96" href="/icons/icon-96x96.png"/>
        <link rel="apple-touch-icon" sizes="144x144" href="/icons/icon-144x144.png"/>
        <link rel="apple-touch-icon" sizes="192x192" href="/icons/icon-192x192.png"/>
        <link rel="apple-touch-icon" sizes="256x256" href="/icons/icon-256x256.png"/>
        <link rel="apple-touch-icon" sizes="384x384" href="/icons/icon-384x384.png"/>
        <link rel="apple-touch-icon" sizes="512x512" href="/icons/icon-512x512.png"/>

        <link rel="sitemap" type="application/xml" href="/sitemap.xml"/>

        {% for feed in collections.feed %}
            <link rel="alternate" type="application/atom+xml" href="{{ feed.url }}" title="{{ feed.data.title }}"/>
        {% endfor %}

        <link rel="shortcut icon" href="/icons/icon-48x48.png"/>

        <script>
            if ("serviceWorker" in navigator) 
                navigator
                    .serviceWorker
                    .register("/service-worker.js")
                    .then(reg => {
                        reg.addEventListener('updatefound', () => reg.update());
                    });
        </script>
    </head>
    <body
        itemscope=""
        itemtype="https://schema.org/Blog"
        id="mdata-blog"
        itemid="mdata-blog"
        data-theme="auto"
    >
        <a href="#main" class="skip-nav">Pular para conteúdo</a>
        {% include 'sidebar.njk' %}
        <main id="main" class="{{ mainClass }}">{{ content | safe }}</main>
    </body>
</html>