---
permalink: feed.{{ feedId }}.xml
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ title }}</title>
  <subtitle>{{ subtitle }}</subtitle>
  <link href="{{ site.canonicalUrl }}{{ page.url }}" rel="self"></link>
  <link href="{{ site.canonicalUrl }}"></link>
  <updated>{{ collections[rssCollection] | rssLastUpdatedDate }}</updated>
  <id>{{ feedId }}</id>
  <author>
    <name>{{ me.name }}</name>
    <email>{{ me.email }}</email>
  </author>
  {%- for post in collections[rssCollection] %}
    {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
    <entry>
      <title>{{ post.data.title }}</title>
      <link href="{{ absolutePostUrl }}"></link>
      <updated>{{ post.date | rssDate }}</updated>
      <id>{{ absolutePostUrl }}</id>
      <content type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
    </entry>
  {%- endfor %}
</feed>