---
permalink: manifest.webmanifest
---
{
	"name": "{{ site.title }}",
	"short_name": "{{ site.title }}",
	"start_url": "/",
	"background_color": "{{ site.backgroundColor }}",
	"theme_color": "{{ site.themeColor }}",
	"serviceworker": {"src": "./service-worker.js" },
	"display": "minimal-ui",
	"lang": "pt-BR",
	"icons": [
		{
			"src": "icons/icon-48x48.png?v=393098781f00f67c2868e7260a385115",
			"sizes": "48x48",
			"type": "image/png"
		},
		{
			"src": "icons/icon-72x72.png?v=393098781f00f67c2868e7260a385115",
			"sizes": "72x72",
			"type": "image/png"
		},
		{
			"src": "icons/icon-96x96.png?v=393098781f00f67c2868e7260a385115",
			"sizes": "96x96",
			"type": "image/png"
		},
		{
			"src": "icons/icon-144x144.png?v=393098781f00f67c2868e7260a385115",
			"sizes": "144x144",
			"type": "image/png"
		},
		{
			"src": "icons/icon-192x192.png?v=393098781f00f67c2868e7260a385115",
			"sizes": "192x192",
			"type": "image/png"
		},
		{
			"src": "icons/icon-256x256.png?v=393098781f00f67c2868e7260a385115",
			"sizes": "256x256",
			"type": "image/png"
		},
		{
			"src": "icons/icon-384x384.png?v=393098781f00f67c2868e7260a385115",
			"sizes": "384x384",
			"type": "image/png"
		},
		{
			"src": "icons/icon-512x512.png?v=393098781f00f67c2868e7260a385115",
			"sizes": "512x512",
			"type": "image/png"
		}
	]
}
